.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  box-sizing: border-box;
}
html,body{
  margin: 0;
  padding: 0;
}
.title{
  color: red;
  align-content:center;
}
.container{
  
  background-color :aliceblue;
  margin: 10px, 50px;
}
.formStyle{
  padding: 15px 10px;
  align-items: center;
  justify-items: center;
}
input{
  width: 50%;
  border: solid 1px gray;
  padding: 15px 10px;
}
button{
  width: 200px;
  padding: 15px;
  background-color: antiquewhite;
  color: blueviolet;
  border: solid 2px black;
  cursor: pointer;
  border-radius: 20px;
}
button:hover{
  background-color: blueviolet;
  color: antiquewhite;
}
.bg {
  /* The image used */
  /*background-image: url("./login.jpg");*/

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
