body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.custom-button{
  padding: 15px;

  background-color: antiquewhite;
    color: blueviolet;
    border: solid 2px black;
    cursor: pointer;
    border-radius: 20px;
}

.hand-icon{
  cursor: pointer;
}
.formStyle{
  padding: 15px 10px;
  width: 50%;
  align-items: center;
  justify-items: center;
}